body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3366ff;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 140px;
  
   
}

header nav h6{


    margin-top: 10px;
    margin-left: -18px;
}
header nav a {
  
    justify-content: space-between;
    text-decoration: none;
    color: #444;
    margin: 0 10px;
    font-weight: bold;
}


.icon img{
    font-size: 12px;
    width: 25px;
    margin-left: 30px;
}
.icone{
    margin-left: 300px;
    display: block;
    
}
.icone img{
    width: 25px;
    gap: 10px;
    margin-left: 30px;
}
header .user-menu {
    display: flex;
    align-items: center;
}

header .user-menu img {
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

/* yaha pr jo button ha un k seeting krni ha */
.btn{
    margin-left: 400px;
    margin-top: -60px;
    justify-content: space-between;
}

.dropdown1{

    position: relative;
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;

}
/* .dropdown span{
    margin-left: -42px;
    font-size: 22px;
    background-color: #3366ff;

}  */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
.dropdown1:hover .dropdown-content1 {
    display: block;
  }

